*{margin: 0; padding: 0;}
html{
    font-size: 62.5%;
}
#bg{
    .left_img{
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -10;
    }
}
#main_section{
    .row{
        position: relative;
        padding-bottom: 1.3rem;
    }
    .icon{
        font-size: 6rem;
        color: #10ff00;
    }
    .QR_code{
        width: 10rem;
        box-shadow: .6rem .6rem 1.7rem 0 black;
    }
    .real_container{
        width: 100%;
        height: 80vh;
        background: #000000e6;
        border-radius: 5rem;
        color: #fff35f;
        margin-top: 10vh;
        position: relative;
    }
    hr {
        border: .1rem solid #00ffb3;
        width: 70%;
        margin: auto;
    }
    .col-6{
        padding: .1rem;
        margin: 0;
        background: radial-gradient(#f31e1e, transparent);
        border-radius: 4.4rem;
    }
    .welcome{
        color: white;
        font-size: 4.5rem;
        font-weight: bolder;
        text-shadow: .3rem .2rem 0rem red;
        padding-top: 2.7rem;
    }
    .follow{
        font-weight: 300;
        font-size: 2.3rem;
        color: #e1ebf5;
        text-shadow: .3rem .1rem .9rem black;
        font-weight: 600;
    }
    .tv_mobile{
        position: absolute;
        width: 22.7rem;
        top: -6.2rem;
        left: 2.5rem;
    }
    .tv_man{
        position: absolute;
        width: 20rem;
        right: 4rem;
        bottom: -2.1rem;
        border-radius: 1.1rem;
    }
    .count{
        font-weight: 800;
        font-size: 4.4rem;
        border: .2rem solid #ff9898;
        padding: 0 2rem;
        border-radius: 1rem;
    }
    .enjoy{
        padding-top: 1.4rem;
    }
    .wifi_icon{
        color: #a191fb;
    }
    h3{
        font-size: 2.6rem;
        text-shadow: .2rem .1rem 0rem #ff0000;
    }
    h4{
        padding-top: 2rem;
        font-size: 2rem;
        color: white;
        
    }
    .or_container{
        position: relative;
    }
    .or {
        position: absolute;
        top: 41%;
        left: -2.1rem;
        padding: .6rem 1.1rem;
        background: #af0e0e;
        font-size: 1.9rem;
        font-weight: 600;
        border-radius: 50%;
        box-shadow: 0rem 0rem 0 .3rem #ad2626;
    }
}
@media(max-width:5000px){
    html{
        font-size: 110%;
    }
    #main_section{
        .welcome{
            padding-top: 16vh;;
        }
        .follow{
            padding-bottom: 1vh;
        }
        .my_img{
        width: 20rem;
        }
        .tv_mobile{
            left: 1.6rem;
            top: -9rem;
        }
        .tv_man{
            right: 3.5rem;
            bottom: -1.9rem;
        }
        .QR_code{
            width: 10rem;
        }
        .or{
            top:9rem ;

        }
        .count{
            padding: .1rem 1.5rem;
        }
    }
}
@media(max-width:2000px){
    html{
        font-size: 82.5%;
    }
    #main_section{
        .welcome{
            padding-top: 16vh;;
        }
        .follow{
            padding-bottom: 1vh;
        }
        .my_img{
        width: 25rem;
        }
        .tv_mobile{
            left: 1.6rem;
            top: -9rem;
        }
        .tv_man{
            right: 3.5rem;
            bottom: -1.9rem;
        }
        .QR_code{
            width: 10rem;
        }
        .or{
            top:9rem ;

        }
        .count{
            padding: .1rem 1.5rem;
        }
    }
}
@media(max-width:1440px){
    html{
        font-size: 62.5%;
    }
    #main_section{
        .welcome{
            padding-top: 16vh;;
        }
        .follow{
            padding-bottom: 1vh;
        }
        .my_img{
        width: 25rem;
        }
        .tv_mobile{
            left: 1.6rem;
            top: -9rem;
        }
        .tv_man{
            right: 3.5rem;
            bottom: -1.9rem;
        }
        .QR_code{
            width: 6rem;
        }
        .or{
            top:5rem ;

        }
        .count{
            padding: .1rem 1.5rem;
        }
    }
}
@media(max-width:1170px){
    html{
        font-size: 65%;
    }
    #main_section{
        .welcome{
            padding-top: 16vh;;
        }
        .follow{
            padding-bottom: 1vh;
        }
        .my_img{
        width: 25rem;
        }
        .tv_mobile{
            left: 1.6rem;
            top: -9rem;
        }
        .tv_man{
            right: 3.5rem;
            bottom: -1.9rem;
        }
        .QR_code{
            width: 6rem;
        }
        .or{
            top:-1rem ;

        }
        .col-6{
            margin-top: 1vh;;
        }
        .count{
            padding: .1rem 1.5rem;
        }
    }
}
@media(max-width:992px){
    html{
        font-size: 62.5%;
    }
    #main_section{
        .welcome{
            padding-top: 16vh;;
        }
        .my_img{
        width: 27rem;
        }
        .tv_mobile{
            left: -7rem;
            top: -9rem;
        }
        .tv_man{
            right: -2.5rem;
        }
        .QR_code{
            width: 6rem;
        }
        .or{
            top:-1rem ;
        }
        .col-6{
            margin-top: 1vh;;
            padding-top: 1rem;
        }
        .count{
            padding: .1rem 1.5rem;
        }
        .icon{
            font-size: 6.5rem;
        }
    }
    
}
@media(max-width:768px){
    html{
        font-size: 50%;
    }
    #main_section{
        .welcome{
            padding-top: 12vh;;
        }
        .my_img{
        width: 17rem;
        }
        .tv_mobile{
            left: -1.4rem;
            top: -5.5rem;
        }
        .tv_man{
            right: 0rem;
            bottom: -1.5rem;
        }
        .QR_code{
            width: 6rem;
        }
        .or{
            top:-.1rem ;

        }
        .col-6{
            margin-top: 5vh;;
        }
        .count{
            padding: .1rem 1.5rem;
        }
        .icon{
            font-size: 6.5rem;
        }
    }
    
}
@media(max-width:667px){
    html{
        font-size: 40%;
    }
    #main_section{
        .welcome{
            padding-top: 10vh;;
        }
        .follow{
            padding-bottom: 5vh;
        }
        .my_img{
        width: 16rem;
        }
        .tv_mobile{
            top: -6rem;
        }
        .QR_code{
            width: 5rem;
        }
        .or{
            top:7.8rem ;
        }
        .count{
            padding: .3rem 1.5rem;
        }
        .icon{
            font-size: 6.5rem;
        }
    }
    
}
@media(max-width:568px){
    html{
        font-size: 35%;
    }
    #main_section{
        .my_img{
        width: 11rem;
        }
        .tv_mobile{
            left: 1rem;
        }
        .tv_man{
            right: 1.5rem;
        }
        .welcome{
            padding-top: 10vh;
        }
        .QR_code{
            width: 5rem;
        }
        .or{
            top: -.4rem;
        }
        .count{
            padding: .1rem .9rem;
        }
    }
    
}